.bg-image {
  background-image: url("bp.jpg");
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-text {
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.insta{
  font-family : "Montserrat", sans-serif;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252a;
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #0088a9;
  }
  
  .cta {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }
  



  body{
    background-color: #423d47;
    font-family : "Montserrat", sans-serif;
  
}

body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .cbg-image {
    background-image: url("cbg.png");
    filter: blur(8px);
    filter: grayscale(75);
    -webkit-filter: blur(8px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .photo {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    border:5px rgba(62, 99, 218, 0.699) solid;
    display:inline-block;
    float:right;
  }

  .titre {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -15%);
    z-index: 2;
    width: 20%;
    padding: 5px;
    text-align: center;
  }

  .ip{
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #ec892f;
    position: absolute;
    top: 11%;
    left: 0.5%;
    transform: translate(11%, -0.5%);
    z-index: 10;
    width: 10%;
    padding: 5px;
    text-align: center;
  }

  .matière{
      background-color: rgb(0,0,0); 
      background-color: rgba(0,0,0, 0.4);
      color: white;
      font-weight: bold;
      border: 3px solid #4cad1f;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      width: 80%;
      padding: 5px;
      text-align: center;
  }

  .Spécialité{
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #dd4545;
    position: absolute;
    top: 80.5%;
    left: 50%;
    transform: translate(-50%, -67.5%);
    z-index: 10;
    width: 50%;
    padding: 5px;
}

.liste{
  left: 100%;
  transform: translate(50%);
}

.spé{
  text-align: center;
}